{{ define "main" }}
	{{ $sections := .Params.sections }}
	<div id="main">
		<aside>
			<div class="card sec-nav">
				<h3>Sections</h3>
				<ul id="all-tags">
					{{ range $sections }}
						{{ if gt (len .secHeader) 1 }}
							<li><a href="#{{ .secHeader | urlize | lower }}">{{ .secHeader }}</a></li>
						{{ end }}
					{{ end }}
				</ul>
			</div>
		</aside>
		<section class="sec-full-text">
			<div class="readable">
				{{ if (isset .Params "heading") }}
					<h1>{{ .Params.heading }}</h1>
				{{ end }}
				{{ range $sections }}
					{{ partial "textSection" . }}
				{{ end }}
			</div>
		</section>
	</div>
{{ end }}