		<footer>
			<div class="contact">
				<p></p>
				<p><a href="/contact">Contact Us</a></p>
				<p class="address">
				</p>
			</div> 
			<div class="legal">
				<p><a href="/privacy">Privacy Policy</a></p>
				<p><a href="/terms">Terms and Conditions</a></p>
				<p class="copy">	&copy; 2019 SandPoint Country Club Homeowner's Association</p>
			</div>
		</footer>
		<script>
			  if (window.netlifyIdentity) {
			    window.netlifyIdentity.on("init", user => {
			      if (!user) {
			        window.netlifyIdentity.on("login", () => {
			          document.location.href = "/admin/";
			        });
			      }
			    });
			  }
		</script>
	</body>
</html>