{{define "main"}}	
		<h1 class="txt-center">Sand Point Maintenance Commission Board of Trustees</h1>
			<div class="row">
				<section class="column">
					{{ range sort (first 5 (where .Site.Pages "Type" "boardmember")) "Weight" }}
					    {{ .Render "li"}}
            		{{ end }}
				</section>
				<section class="column">
					{{ range sort (last 6 (where .Site.Pages "Type" "boardmember")) "Weight" }}
						{{ if .Params.First_name }}
					    	{{ .Render "li"}}
						{{ end }}
            		{{ end }}
				</section>
			</div>
			<p class="txt-center action-p">Request full contact info & HOA Directory: <a href="/contact/">Here</a></p>
{{end}}