{{ define "main" }}
		<div id="main">
			<aside class="cal-side">
				<img src="/images/pool-25.jpg" class="content-image" alt="pool">
				<img src="/images/tennis-courts-25.jpg" class="content-image" alt="tennis">
			</aside>
			<section class="cal-section">
				<h2 class="cal-header">Stay up to date with all of the association's functions by following our official Google Calendar:</h2>
				<div class="calendar-container">
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=spcchoa%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>
			</section>
		</div>
{{ end }}