{{ define "main" }}
			<section class="readable directory">
				<h2>Sand Point Country Club HOA Member Directory</h2>
				<p>To access the Directory decrypt the document below with the HOA Membership Password:</p>
				<iframe src="https://drive.google.com/embeddedfolderview?id=1ZVmuoyKWE_lb9HPbG3tCrHkqyKNtSM7E#list" style="width:100%; height:200px; border:0;"></iframe>
				<p>To request the <strong>password</strong> (must verify residency) please contact the HOA Board <a href="/contact">Here >></a></p>
				<p>If you need to <strong>update or correct your information</strong> in the Directory please contact Joe Flick at <a href="mailto:someone@yoursite.com?subject=Incorrect Directory Information">Email@site.com</a></p>
			</section>
{{ end }}