{{ define "main" }}
			<section class="readable directory">
				<h2>Sand Point Country Club HOA Member Directory</h2>
				<p>To access the Directory download and decrypt the document with the HOA Membership Password at the following link:</p><p> <a href="https://drive.google.com/drive/folders/1ZVmuoyKWE_lb9HPbG3tCrHkqyKNtSM7E?usp=sharing" target="_blank">Member Directory Document >></a></p><p> To request the password (must verify residency) please contact the HOA Board <a href="/contact">Here >></a></p>
			</section>
{{ end }}