{{ define "main" }}
			<section class="readable directory">
				<h1>SPMC HOA Member Directory</h1>
				<p>To access the Directory decrypt the document below with the HOA Membership Password:</p>
				<iframe src="https://drive.google.com/file/d/1e_ZmGoJg8m-gonFWHE4Hk3XgTGhsH3c8/preview" width="100%" height="650px" style="border: none;"></iframe>
				<p>To request the <strong>password</strong> (must verify residency) please make a request <a href="/contact">Here >></a></p>
				<p>Notice: If you need to <strong>update or correct your information</strong> in the Directory please contact Joe Flick at <a href="mailto:joeflick@comcast.net?subject=Incorrect Directory Information">joeflick@comcast.net</a></p>
			</section>
{{ end }}