{{ define "main" }}
			<section class="link-list">
				<h2>Sand Point Maintenance Commission Forms</h2>
				<ul>
					<li><a href="/forms/SECURITY_RESIDENCE_FORM.pdf" target="_blank">Security Residence Check Request >></a></li>
					<li><a href="/forms/APPLICATION_FOR_APPROVAL_OF_CONSTRUCTION.pdf" target="_blank">Application for Approval of Construction >></a></li>
					<li><a href="/forms/SOLAR_PANEL_APPROVAL_FORM.pdf" target="_blank">Application for Approval of Solar Panel Installation >></a></li>
					<li><a href="/forms/LANDSCAPE_CONSTRUCTION_FORM.pdf" target="_blank">Application for Approval of Landscape Construction >></a></li>
					<li><a href="/forms/APPROVAL_ALTERING_ROOFLINE_APPLICATION.pdf" target="_blank">Notice of Application for Project Approval Which Will Alter an Existing Roofline >></a></li>
				</ul>
				<p><strong>Note:</strong> Please complete forms in their entirety and send them to the office. (Placeholder text will change.) </p>
			</section>
{{ end }}