{{ define "main" }}
			<section class="link-list">
				<h2>SPMC Online Submission Forms</h2>
				<ul>
					<li>
						<a href="https://forms.gle/Be7Y8Y3rHs7tNZc18" target="_blank">Security Residence Check Request</a> or <a href="/forms/SECURITY_RESIDENCE_FORM.pdf" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/LtNPK8NHjcunm3wz7" target="_blank">Construction Approval Application</a> or <a href="/forms/APPLICATION_FOR_APPROVAL_OF_CONSTRUCTION.pdf" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/twrkE6PVtLqHJiCK7" target="_blank">Solar Panel Installation Approval Application</a> or <a href="/forms/SOLAR_PANEL_APPROVAL_FORM.pdf" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/kQHR56E5zQQ5sg626" target="_blank">Landscape Construction Approval Application</a> or <a href="/forms/LANDSCAPE_CONSTRUCTION_FORM.pdf" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/DGe6JvzB9jbdsyZM8" target="_blank">Notice of Application for Project Approval Which Will Alter an Existing Roofline</a> or <a href="/forms/APPROVAL_ALTERING_ROOFLINE_APPLICATION.pdf" target="_blank">Download as a PDF</a>
					</li>
				</ul>
			</section>
{{ end }}