{{ define "main" }}
			<section class="link-list">
				<h2>SPHOA Online Submission Forms</h2>
				<ul>
					<li>
						<a href="https://forms.gle/Be7Y8Y3rHs7tNZc18" target="_blank">Security Residence Check Request</a> or <a href="https://drive.google.com/file/d/1YKKTFwoWZMxBraBc6zECxvEP3QKhjeh6/" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/LtNPK8NHjcunm3wz7" target="_blank">Application for Approval of Construction</a> or <a href="https://drive.google.com/file/d/1EtY3dL4IQGdoilMEO53FL-pS0gLcHdtF/" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/twrkE6PVtLqHJiCK7" target="_blank">Solar Panel Installation Approval Application</a> or <a href="https://drive.google.com/file/d/10gvbQLGTVYaVqN_NZTLZGEdA2KR2EDw2/" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/kQHR56E5zQQ5sg626" target="_blank">Landscape Construction Approval Application</a> or <a href="https://drive.google.com/file/d/18EzjpMMPfrwVL71CE7H4RbbVUiah1yMJ/" target="_blank">Download as a PDF</a>
					</li>
					<li>
						<a href="https://forms.gle/DGe6JvzB9jbdsyZM8" target="_blank">Notice of Application for Project Approval Which Will Alter an Existing Roofline</a> or <a href="https://drive.google.com/file/d/1SlZjrRizD1NrbKkoy2o3x7cBQxwCu8wh/" target="_blank">Download as a PDF</a>
					</li>
				</ul>
			</section>
{{ end }}