{{ define "main" }}
			<div class="readable">
			<h1>Rules and Regulations Regarding Landscape Features</h1>
			<p>The Board of Directors of the Sand Point Maintenance Commission, pursuant to the authority vested in the Board by Sections 10.2(a) and 10.2(m) of the Bylaws, hereby adopts the following rules and regulations regarding the construction of certain landscaping features on Lots in the Sand Point community:</p>
			<h2>Background Information:</h2>
			<p>Several owners in the Sand Point community have, as part of their applications for approval of landscaping plans, proposed to include “hardscape features” such as low retaining walls, small monument signs for their names and/or street addresses, or merely as decorative additions to the vegetation in their landscaping.  The Board of Directors has determined that such features may, if properly designed, scaled and located, be appropriate and consistent with the quality of the community aesthetics which the Board strives to achieve and will promote the safe use of the private streets and rights of way in the community.  This Resolution adopts guidelines for the design and construction of such landscaping features.</p>
			<h2>Guidlines:</h2>
			<p>Subject to Board approval in accordance with the Construction Approval Process, Owner shall be permitted to construct, as part of their  street facing landscaping, a low hardscape feature (i.e., a non-vegetative structure which may or may not include a name or street address component) which complies with the following standards:</p>
			<ol>
				<li>
					<p>
						The feature may be no taller than 30 inches above the grade of the surrounding yard.  If the feature is proposed to be located on a berm or other landscaping component, the Board shall have the discretion to disallow the feature or require that the total height of the feature be limited.
					</p>
				</li>
				<li>
					<p>
						The horizontal length of the feature (i.e., the length of the feature parallel to the street) may not exceed the width of the yard to the point of the applicable side yard setback (i.e. five (5) or ten (10) feet from property line).
					</p>
				</li>
				<li>
					<p>
						The depth of the feature (i.e., the distance from the front facing the street to the back of the feature away from the street) may not exceed 30 inches.
					</p>
				</li>
				<li>
					<p>
						The feature shall be located at least 24 inches away from the edge of the street right-of-way (property line).  Note:  The edge of the street right-of-way is not the edge of the paved street surface.
					</p>
				</li>
				<li>
					<p>
						The feature should be made of stone, wood or other natural materials.  The Board shall have the discretion to approve the use of all materials used on a case by case basis.
					</p>
				</li>
				<li>
					<p>
						The feature may include the name of the residents and/or the street address of the home, but may not include any other signage. 
					</p>
				</li>
				<li>
					<p>
						The feature may be illuminated subject to the following: 
					</p>
					<ol>
						<li>
							<p>
								Illumination shall be directed at the feature and away from the street and neighboring properties. 
							</p>
						</li>
						<li>
							<p>
								The level of illumination shall not result in glare or levels of brightness which the Board determines may affect neighbors or persons traveling on the streets in the community.  
							</p>
						</li>
						<li>
							<p>
								Because the level of illumination and the impact of lights on other properties is difficult to evaluate in advance of actual construction, the Board shall retain the authority, after installation of the feature, to require that illumination be modified to mitigate impacts on the other properties and persons. 
							</p>
						</li>
					</ol>
				</li>
			</ol>
		</div>
{{ end }}