{{ define "main" }}
			<h1 class="txt-center">SPHOA Location & Tract Maps:</h1>
			<section class="map-card">
				<img src="/images/g_map.png">
				<div>
					<a href="https://www.google.com/maps/place/4801-4899+NE+Crown+Pl,+Seattle,+WA+98115/@47.6860718,-122.2795611,16z/data=!4m12!1m6!3m5!1s0x5490139818dd79b5:0x45b16029969bc239!2sSand+Point+Country+Club!8m2!3d47.688677!4d-122.2693564!3m4!1s0x549013982b5f216d:0xcf48e730accef40e!8m2!3d47.6861764!4d-122.2758758" target="_blank">See Location on Google Maps >></a>
				</div>
			</section>
			<section class="map-card">
				<img class="tracts" src="/images/tract_map.png">
				<div>
					<span>Tract Map</span>
				</div>
			</section>
{{ end }}