{{ define "main" }}
<div class="readable">
			<h1>Security Procedures</h1>
			<p>Please do the following if you or your property become the victim of any type of crime no matter how small:</p>
			<ol>
				<li>
					<p>Call the police and report it.  You can call 911 and tell them it is a non-emergency call or call the North Precinct at (206) 625-5011.  The majority of crime statements can be taken over the phone and require no officer visit.</p>
				</li>
				<li>
					<p>Contact First Security at (206) 762-4420 ask for operations and report as well.  First Security will notify the Property Manager or Security Head.  Security notices will be hand delivered by the security guard to each individual home providing detail discreetly and as soon as possible.</p>
				</li>
			</ol>
			<P>It is very important to report any property that is stolen even if you left your car/home unlocked and you are reporting it for statistical or insurance purposes. Crime often occurs in “bunches” over a short period.  By spreading the word, others can take preventive measure, be more alert and perhaps additional incidents can be avoided.</P>

			<H2>Solicitors</H2>
			<p>If a solicitor comes to your home, please advise them that there are no solicitors  allowed in this neighborhood.  If they refuse to leave or you see them heading to another street within this community, please call 911.  Additionally, you may contact our on-site security officer @ 517-7962.</p>
		</div>
{{ end }}