{{ define "main" }}
		<div class="readable">
			<h1>SPMC Solar Panel Guidlines</h1>
			<p>Solar Panels Subject to RCW 64.38.055, the following are general guidelines for the installation of Solar Panels:</p>
			<p>Solar Panel installation plans must be submitted to the SPMC Board for approval a minimum of 30 days prior to the next regularly scheduled Board meeting.  Submittal documents must include the name of the vendor performing the installation and the drawings/documents submitted to the City of Seattle for the permitting process.</p>
			<p>Panels may be installed on roofs with the following provisions:</p>
			<ol>
				<li>Panels must follow the slope of the roof</li>
				<li>Panels may not be visible above the roof line</li>
				<li>The top edge of the panels must be parallel to the roof ridge</li>
				<li>Panel frame, support brackets, wiring and piping may be required to be painted or otherwise finished to coordinate with the roofing material color</li>
			</ol>
			<p>Ground mounted panels may be installed with the following provisions:</p>
			<ol>
				<li>Panels and parts (e.g., frame, support brackets, wiring and piping)  must be entirely within the boundaries of the applicable setbacks</li>
				<li>Panels must be screened/shielded so as not to be visible to neighboring properties</li>
				<li>Panels or support structures may not be higher than the bottom edge of the home’s roof</li>
			</ol>
			<p>As part of the plan review and approval process, the SPMC Board of Directors may impose other reasonable requirements in relationship to the placement and manner of the solar panels.</p>
			<a href="/forms/SOLAR_PANEL_APPROVAL_FORM.pdf" target="_blank">Application for Approval of Solar Panel Installation Form >></a>
		</div>
{{ end }}
